<div id="page-body" class="container">
	<form class="form-search">
		<div class="input-prepend">
			<button type="submit" class="btn">Transliterate</button>
			<input type="text" style="text-align:right" placeholder="Type something..." class="span5 search-query" data-provide="typeahead" data-source=""> 
		</div>
	</form>
</div>