<footer class="container">
	<span class='pull-left'>&copy; Smart Arabic Transliteration by Bassam Kachkouch</span>
	<span class='pull-right'><a href="mailto:bassam.kachkouch@gmail.com?subject=[Roman to Arabic Smart Transliteration] - Feedback">Contact Us</a></span>
</footer>